
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="name">
    <div class="label-input">
      <div>First Name:</div> 
      <input type="text" value="{{ user$?.first_name }}" formControlName="firstName">
    </div>

    <div class="label-input">
      <div>Last Name:</div> 
      <input type="text" value="{{ user$?.last_name }}" formControlName="lastName">
    </div>
  </div>

  <div class="contact">
    <div class="label-input">
      <div>Email:</div> 
      <input type="text" value="{{ user$?.email }}" formControlName="email">
    </div>            
    <div class="label-input">
      <div>Phone:</div> 
      <input type="text" value="{{ user$?.phone_number }}" formControlName="phoneNumber">
    </div>
  </div>

  <div class="user-details-buttons">
    <button class="save-btn" type="submit">
      Save
    </button>

    <button (click)="onDelete()" class="edit-btn">
      Delete
    </button>
  </div>
</form>